<template data-simply-template="document">

    <div class="slo-document">
        <div class="slo-form-inline slo-context-filter" data-simply-collection="niveaus-contexts">
            <select class="slo-niveaus-select" multiple data-simply-field="niveau-selectie"
            data-simply-list="niveaus" data-simply-data="niveaus" data-simply-entry="title" 
            data-simply-activate="niveaus-select" data-simply-element="niveaus">
                <template>
                    <option data-simply-field="title"></option>
                </template>
            </select>
            <select class="slo-contexts-select" multiple data-simply-field="context-selectie"
            data-simply-list="contexts" data-simply-data="contexts-select" data-simply-entry="context" 
            data-simply-activate="contexts-select" data-simply-element="contexts">
                <template>
                    <option data-simply-field="context"></option>
                </template>
            </select>
        </div>
        
        <nav class="ds-crumbs">
            <ul class="ds-crumbs-list">
                <li>API</li>
                <li><a href="/">2024</a></li>
                <li><a href="" data-simply-field="contextLink"></a></li>
            </ul>
        </nav>
        
        <div class="documentEditorWrapper">
            <div class="documentEditor">
                <form>
                    <div class="slo-form-header">
                        <button class="ds-button ds-button-naked ds-button-close" data-simply-command="documentCloseEditor">
                        <svg class="ds-icon ds-icon-feather">
                            <use xlink:href="/assets/icons/feather-sprite.svg#x">
                        </use></svg>
                        </button>
                    
                        <div class="ds-form-group">
                            <label>
                                <input type="checkbox" ${disabled} ${checked} name="dirty" value="1" data-simply-command="toggleDirty">
                                Inhoudelijke wijziging
                            </label>
                        </div>
                    </div>
                    
                    <div>
                        <textarea name="textEdit"></textarea>
                    </div>
                    
                    <div class="slo-form-footer">
                        <button class="ds-button ds-button-naked ds-button-close" data-simply-command="saveChangesDocument">
                        <svg class="ds-icon ds-icon-feather">
                            <use xlink:href="/assets/icons/feather-sprite.svg#save">
                        </use></svg>
                        </button>
                    </div>
                </form>
              
            </div>
        </div>

        <div data-simply-list="documentList" id="slo-document">
            <template rel="documentTemplate"></template>
        </div>
    
        <template id="documentTemplate">
            <section>
                <div id="" class="slo-entity" data-simply-field="@id" data-simply-content="attributes" data-simply-attributes="id" data-simply-command="editDocument">
                    <h1>                       
                        <span class="slo-prefix" data-simply-field="prefix" data-simply-content="text"></span>
                        <span class="slo-title" data-simply-field="title" data-simply-content="text" ></span>
                        <div class="slo-hidden" data-simply-field="$mark" data-simply-transformer="parentClass"></div>
                    </h1>
                    <p class="ds-margin-up slo-prefix slo-description" data-simply-field="description" data-simply-content="text"></p>
                    <!--
                    <svg class="slo-add ds-icon ds-icon-feather" title="Voeg nieuwe relatie toe">
                        <use xlink:href="/assets/icons/feather-sprite.svg#plus-circle"></use>
                    </svg>
                    <svg class="slo-delete ds-icon ds-icon-feather" title="Verwijder deze relatie">
                        <use xlink:href="/assets/icons/feather-sprite.svg#x-circle"></use>
                    </svg>
                    -->
                </div>

                <ul class="ds-margin-up" data-simply-list="documentNiveauIndex">
                    <template>
                        <li id="" class="slo-entity slo-niveau-index" data-simply-field="@id" data-simply-content="attributes" data-simply-attributes="id" data-simply-command="editDocument">
                            <span class="ds-badge slo-title" data-simply-field="title" data-simply-content="text"></span>
                            <div class="slo-hidden" data-simply-field="$mark" data-simply-transformer="parentClass"></div>
                            <!--
                            <svg class="slo-add ds-icon ds-icon-feather" title="Voeg nieuwe relatie toe">
                                <use xlink:href="/assets/icons/feather-sprite.svg#plus-circle"></use>
                            </svg>
                            <svg class="slo-delete ds-icon ds-icon-feather" title="Verwijder deze relatie">
                                <use xlink:href="/assets/icons/feather-sprite.svg#x-circle"></use>
                            </svg>
                        -->
                        </li>
                    </template>
                </ul>

                <div class="ds-margin-up" data-simply-list="documentNiveaus">
                    <template>
                        <div id="" class="slo-entity" data-simply-field="@id" data-simply-content="attributes" data-simply-attributes="id" data-simply-command="editDocument">
                            <span class="slo-prefix ds-badge" data-simply-field="prefix"></span>
                            <span class="ds-badge niveau" data-simply-field="title"></span>
                            <div class="slo-hidden" data-simply-field="$mark" data-simply-transformer="parentClass"></div>                            <!--
                            <svg class="slo-add ds-icon ds-icon-feather" title="Voeg nieuwe relatie toe">
                                <use xlink:href="/assets/icons/feather-sprite.svg#plus-circle"></use>
                            </svg>
                            <svg class="slo-delete ds-icon ds-icon-feather" title="Verwijder deze relatie">
                                <use xlink:href="/assets/icons/feather-sprite.svg#x-circle"></use>
                            </svg>
                            -->
                        </div>
                    </template>
                </div>

                

                <ul class="ds-margin-up" data-simply-list="documentExamenprogrammaEindterm">
                    <template>
                        <li id="" class="slo-entity" data-simply-field="@id" data-simply-content="attributes" data-simply-attributes="id" data-simply-command="editDocument">
                            <span class="slo-prefix ds-badge" data-simply-field="prefix"></span>
                            <span class="slo-prefix" data-simply-field="title"></span>
                            <span class="slo-prefix" data-simply-field="description"></span>
                            <div class="slo-hidden" data-simply-field="$mark" data-simply-transformer="parentClass"></div>
                            <!--
                            <svg class="slo-add ds-icon ds-icon-feather" title="Voeg nieuwe relatie toe">
                                <use xlink:href="/assets/icons/feather-sprite.svg#plus-circle"></use>
                            </svg>
                            <svg class="slo-delete ds-icon ds-icon-feather" title="Verwijder deze relatie">
                                <use xlink:href="/assets/icons/feather-sprite.svg#x-circle"></use>
                            </svg>
                            -->
                        </li>
                    </template>
                </ul>

                <ul class="ds-margin-up" data-simply-list="documentLeafNode">
                    <template>
                        <li class="slo-entity" id="" data-simply-field="@id" data-simply-content="attributes" data-simply-attributes="id" data-simply-command="editDocument">
                            <span class="slo-prefix ds-badge" data-simply-field="prefix"></span>
                            <span class="slo-prefix" data-simply-field="title"></span>
                            <span class="slo-prefix" data-simply-field="description"></span>
                            <div class="slo-hidden" data-simply-field="$mark" data-simply-transformer="parentClass"></div>
                            <!--
                            <svg class="slo-add ds-icon ds-icon-feather" title="Voeg nieuwe relatie toe">
                                <use xlink:href="/assets/icons/feather-sprite.svg#plus-circle"></use>
                            </svg>
                            <svg class="slo-delete ds-icon ds-icon-feather" title="Verwijder deze relatie">
                                <use xlink:href="/assets/icons/feather-sprite.svg#x-circle"></use>
                            </svg>
                            -->
                        </li>
                    </template>
                </ul>

                <div class="ds-margin-up" data-simply-list="documentTextNode">
                    <template>
                        <div class="slo-prefix slo-entity" id="" data-simply-field="@id" data-simply-content="attributes" data-simply-attributes="id" data-simply-command="editDocument">
                            <span class="slo-prefix ds-badge" data-simply-field="prefix"></span>
                            <span class="slo-prefix" data-simply-field="title"></span>
                            <span class="slo-prefix" data-simply-field="description"></span>
                            <div class="slo-hidden" data-simply-field="$mark" data-simply-transformer="parentClass"></div>
                            <!--
                            <svg class="slo-add ds-icon ds-icon-feather" title="Voeg nieuwe relatie toe">
                                <use xlink:href="/assets/icons/feather-sprite.svg#plus-circle"></use>
                            </svg>
                            <svg class="slo-delete ds-icon ds-icon-feather" title="Verwijder deze relatie">
                                <use xlink:href="/assets/icons/feather-sprite.svg#x-circle"></use>
                            </svg>
                            -->
                        </div>
                    </template>
                </div>

                <div data-simply-list="documentSublist">
                    <template rel="documentTemplate"></template>               
                </div>

            </section>
                                    
        </template>
                
    </div>
    
    <dialog class="slo-type-selector ds-dialog">
        <form data-simply-command="modifyText">
        </form>
    </dialog>

</template>

