<template id="filter-value">
    <ul class="ds-dropdown-list" data-simply-list="data">
        <template>
            <li class="ds-dropdown-item">
                <label><input type="checkbox" value="1" data-simply-field="checked">
                <span data-simply-field="name">doel</span>
                (<span data-simply-field="count">123</span>)</label>
            </li>
        </template>
    </ul>
</template>
<template id="filter-text">
    <div class="slo-form-inline slo-dropdown-filter">
        <input type="text" placeholder="filter">
        <button data-simply-command="filter-text" class="ds-icon-button ds-button ds-button-naked"><svg class="ds-icon ds-icon-feather">
            <use xlink:href="/assets/icons/feather-sprite.svg#filter"></use>
        </svg></button>
    </div>
</template>
<template id="filter-buttonbar">
    <div class="ds-button-group ds-button-bar">
        <a class="ds-button ds-button-naked ds-icon-button" title="sorteer aflopend" data-simply-command="sortTree" data-simply-value="descending"><svg class="ds-icon ds-icon-feather">
            <use xlink:href="#arrow-down"></use>
        </svg></a>
        <a class="ds-button ds-button-naked ds-icon-button" title="sorteer oplopend" data-simply-command="sortTree" data-simply-value="ascending"><svg class="ds-icon ds-icon-feather">
            <use xlink:href="#arrow-up"></use>
        </svg></a>
        <a class="ds-button ds-button-naked ds-icon-button" title="selecteer kolom"><svg class="ds-icon ds-icon-feather">
            <use xlink:href="#clipboard"></use>
        </svg></a>
    </div>
</template>
<template id="filter-dropdown">
  <label class="slo-filter ds-dropdown">
    <svg class="ds-icon ds-icon-feather">
      <use xlink:href="#filter"></use>
    </svg>
    <input type="checkbox" name="slo-filter-state" class="ds-dropdown-state">
    <nav class="ds-dropdown-nav ds-dropdown-right ds-align-left">
      <div class="ds-dropdown-content slo-dropdown-buttons">
        <div is="simply-component" rel="filter-buttonbar"></div>
        <div is="simply-component" rel="filter-text"></div>
      </div>
    </nav>
  </label>
</template>
<template id="filter-list-dropdown">
    <label class="slo-filter ds-dropdown">
        <svg class="ds-icon ds-icon-feather">
            <use xlink:href="#filter"></use>
        </svg>
        <input type="checkbox" name="slo-filter-state" class="ds-dropdown-state">
        <nav class="ds-dropdown-nav ds-dropdown-right ds-align-left">
            <div class="ds-dropdown-content slo-dropdown-buttons">
                <div is="simply-component" rel="filter-buttonbar"></div>
            </div>
            <div is="simply-component" rel="filter-value"></div>
        </nav>
    </label>
</template>
<template id="filter-context">
    <div class="slo-form-inline slo-context-filter" data-simply-collection="niveaus-contexts">
        <select class="slo-niveaus-select" multiple data-simply-field="niveau-selectie"
        data-simply-list="niveaus" data-simply-data="niveaus" data-simply-entry="title" 
        data-simply-activate="niveaus-select" data-simply-element="niveaus">
            <template>
                <option data-simply-field="title"></option>
            </template>
        </select>
        <select class="slo-contexts-select" multiple data-simply-field="context-selectie"
        data-simply-list="contexts" data-simply-data="contexts-select" data-simply-entry="context" 
        data-simply-activate="contexts-select" data-simply-element="contexts">
            <template>
                <option data-simply-field="context"></option>
            </template>
        </select>
        <button data-simply-command="openTree" class="ds-button ds-icon-button ds-button-naked" title="Klap Uit">
            <svg class="ds-icon ds-icon-feather">
                <use xlink:href="/assets/icons/feather-sprite.svg#maximize-2"></use>
            </svg>
        </button>
    </div>
</template>
<template id="context-crumbs">
    <nav class="ds-crumbs">
        <ul class="ds-crumbs-list">
            <li>API</li>
            <li><a href="/">2023</a></li>
            <li><a href="" data-simply-field="contextLink"></a></li>
        </ul>
    </nav>
</template>
