<template data-simply-template="filter-value">
    <ul class="ds-dropdown-list" data-simply-list="values">
        <template>
            <li class="ds-dropdown-item"><input type="checkbox" data-simply-field="value"><span data-simply-field="name"></span></li>
        </template>
    </ul>
</template>
<template data-simply-template="filter-text">
    <div class="slo-form-inline slo-dropdown-filter">
        <input type="text" placeholder="filter">
        <button data-simply-command="filter-text" class="ds-icon-button ds-button ds-button-naked"><svg class="ds-icon ds-icon-feather">
            <use xlink:href="/assets/icons/feather-sprite.svg#filter"></use>
        </svg></button>
    </div>
</template>