            <template data-simply-template="item">
                <article>
                    <nav class="ds-crumbs">
                        <ul class="ds-crumbs-list">
                            <li>API</li>
                            <li><a href="/">2024</a></li>
                            <li><a href="" data-simply-field="contextLink"></a></li>
                        </ul>
                    </nav>
                    <button class="ds-align-right ds-button" data-simply-command="toggleSource" data-simply-field="showSource" data-simply-transformer="select" data-simply-content="fixed">
                        <input type="checkbox" value="1" data-simply-field="showSource"> Source</button>
                    <h1>
                        <span data-simply-field="item.title"></span>
                    </h1>
                    <div data-simply-field="showSource" data-simply-content="template">
                        <template data-simply-template="1">
                            <form class="slo-box slo-token-form" data-simply-command="saveToken">
                                <label>
                                    API Token (<a href="/curriculum/api/">lees meer over de API</a>)
                                    <input type="text" name="requestToken" data-simply-field="requestToken" placeholder="Vul je API token hier in">
                                </label>
                                <label>
                                    E-mail
                                    <input type="text" name="requestEmail" data-simply-field="requestEmail" placeholder="Vul het e-mail adres gekoppeld aan dit token hier in">
                                </label>
                                <div class="ds-form-buttons"><button class="ds-button">Update</button></div>
                            </form>
                            <h2 class="slo-code-box-title">Request (javascript)</h2>
                            <div class="slo-relative">
                                <button data-simply-command="copyPre" class="ds-button slo-absolute-right">
                                    <svg class="ds-icon ds-icon-feather">
                                        <use xlink:href="/assets/icons/feather-sprite.svg#copy">
                                    </use></svg>
                                </button>
                                <pre data-simply-field="request"></pre>
                            </div>
                            <h2 class="slo-code-box-title">Response (json-ld)</h2>
                            <div class="slo-relative">
                                <button data-simply-command="copyPre" class="ds-button slo-absolute-right">
                                    <svg class="ds-icon ds-icon-feather">
                                        <use xlink:href="/assets/icons/feather-sprite.svg#copy">
                                    </use></svg>
                                </button>
                                <pre data-simply-field="source"></pre>
                            </div>
                        </template>
                        <template data-simply-template="0">
                            <span data-simply-field="item.$mark" data-simply-content="template" data-simply-default-template="false">
                                <template data-simply-template="changed">
                                    <div class="ds-badge ds-badge-inverted">Gewijzigd</div>
                                </template>
                                <template data-simply-template="inserted">
                                    <div class="ds-badge ds-badge-inverted">Toegevoegd</div>
                                </template>
                                <template data-simply-template="deleted">
                                    <div class="ds-badge ds-badge-inverted">Verwijderd</div>
                                </template>
                            </span>
                            <span data-simply-field="item.deleted" data-simply-content="template" data-simply-default-template="false">
                                <template data-simply-template="true">
                                    <div class="ds-badge ds-badge-inverted">Verwijderd</div>
                                </template>
                            </span>
                            <a class="ds-badge" href="#" data-simply-field="item.@references" data-simply-content="fixed" data-simply-transformer="addTrailingSlash">
                                <label class="ds-badge-label"><svg class="ds-icon ds-icon-feather">
                                    <use xlink:href="/assets/icons/feather-sprite.svg#link">
                                </use></svg></label>
                                <span class="slo-id" data-simply-field="item.id"></span>
                            </a>
                            <div class="ds-badge">
                                <label class="ds-badge-label">Type</label>
                                <span data-simply-field="item.@type"></span>
                            </div>
                            <span data-simply-field="item.unreleased" data-simply-content="template" data-simply-default-template="false">
                                <template data-simply-template="true">
                                    <div class="ds-badge ds-bg-primary">
                                        Unreleased
                                    </div>
                                </template>
                                <template data-simply-template="false">
                                </template>
                            </span>
                            <span data-simply-field="item.prefix" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <div class="ds-badge">
                                        <span class="ds-badge-label">Prefix</span>
                                        <span data-simply-field="item.prefix"></span>
                                    </div>
                                </template>
                            </span>
                            <span data-simply-field="item.ce_se" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <div class="ds-badge">
                                        <span class="ds-badge-label">CE/SE</span>
                                        <span data-simply-field="item.ce_se"></span>
                                    </div>
                                </template>
                            </span>
                            <span data-simply-field="item.bron" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <div class="ds-badge">
                                        <label class="ds-badge-label">Bron</label>
                                        <span data-simply-field="item.bron"></span>
                                    </div>
                                </template>
                            </span>
                            <span data-simply-field="item.kerndoelLabel" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <div class="ds-badge">
                                        <label class="ds-badge-label">KerndoelLabel</label>
                                        <span data-simply-field="item.kerndoelLabel"></span>
                                    </div>
                                </template>
                            </span>
                            <span data-simply-field="item.deprecated" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <div class="ds-badge"><label class="ds-badge-label"><svg
                            class="ds-icon ds-icon-feather"><use
                            xlink:href="/assets/icons/feather-sprite.svg#trash-2"></use></svg></label>Deprecated</div>
                                </template>
                            </span>
                            <div data-simply-field="item.replacedBy" data-simply-content="template" data-simply-transformer="replaces">
                                <template data-simply-template="true">
                                    <label>Vervangen door</label>
                                    <ul data-simply-list="item.replacedBy">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.replaces" data-simply-content="template" data-simply-transformer="replaces">
                                <template data-simply-template="true">
                                    <label>Vervangt</label>
                                    <ul data-simply-list="item.replaces">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.Niveau" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Niveau</h3>
                                    <ul class="slo-navbar" style="flex-wrap: wrap;" data-simply-list="item.Niveau">
                                        <template rel="refs"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.description" data-simply-content="template"  data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Description</h3>
                                    <div data-simply-field="item.description"></div>
                                </template>
                            </div>
                            <div data-simply-field="item.vakbegrippen" data-simply-content="template"  data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <div>
                                        <h3>Vakbegrippen</h3>
                                        <div data-simply-field="item.vakbegrippen"></div>
                                    </div>
                                </template>
                            </div>
                            
                            <div data-simply-field="item.Leerlingtekst" data-simply-content="template"  data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Leerlingtekst</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.Leerlingtekst">
                                        <template>
                                            <li>
                                                <div data-simply-field="title">titel</div>
                                                <div data-simply-field="description">description</div>
                                            </li>
                                        </template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.Vakleergebied" data-simply-content="template" data-simply-transformer="entityArrayOrEmpty">
                                <template data-simply-template="entity">
                                    <h3>Vakleergebied</h3>
                                    <ul>
                                        <li><a class="slo-relatie">
                                            <span class="slo-hidden" data-simply-field="item.Vakleergebied.@references" data-simply-transformer="idToHref"></span>
                                            <span data-simply-field="item.Vakleergebied.prefix" data-simply-content="template" data-simply-transformer="truthy">
                                                <template data-simply-template="true">
                                                    <span class="ds-badge ds-badge-mini">
                                                        <span class="ds-badge-label">Prefix</span>
                                                        <span data-simply-field="item.Vakleergebied.prefix"></span>
                                                    </span>
                                                </template>
                                            </span>
                                            <span data-simply-field="item.Vakleergebied.title"></span>
                                        </a></li>
                                    </ul>
                                </template>
                                <template data-simply-template="array">
                                    <h3>Vakleergebied</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.Vakleergebied">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                                <template data-simply-template="empty"></template>
                            </div>
                            <div data-simply-field="item.LdkVakleergebied" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>LdkVakleergebied</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.LdkVakleergebied">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.LdkVakkern" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>LdkVakkern</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.LdkVakkern">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.LdkVaksubkern" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>LdkVaksubkern</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.LdkVaksubkern">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.LdkVakinhoud" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>LdkVakinhoud</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.LdkVakinhoud">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.Doel" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Doel</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.Doel">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.KerndoelVakleergebied" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>KerndoelVakleergebied</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.KerndoelVakleergebied">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.KerndoelDomein" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>KerndoelDomein</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.KerndoelDomein">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.KerndoelUitstroomprofiel" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>KerndoelUitstroomprofiel</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.KerndoelUitstroomprofiel">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.Kerndoel" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Kerndoel</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.Kerndoel">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.Examenprogramma" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Examenprogramma</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.Examenprogramma">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaVakleergebied" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaVakleergebied</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaVakleergebied">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaKop1" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaKop1</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaKop1">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaKop2" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaKop2</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaKop2">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaKop3" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaKop3</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaKop3">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaKop4" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaKop4</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaKop4">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaBody" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaBody</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaBody">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaDomein" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaDomein</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaDomein">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaSubdomein" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaSubdomein</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaSubdomein">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaEindterm" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaEindterm</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaEindterm">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaBgProfiel" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaBgProfiel</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaBgProfiel">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>

                            <div data-simply-field="item.ExamenprogrammaBgKern" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaBgKern</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaBgKern">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaBgKerndeel" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaBgKerndeel</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaBgKerndeel">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaBgModule" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaBgModule</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaBgModule">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaBgKeuzevak" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaBgKeuzevak</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaBgKeuzevak">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaBgKeuzevaktaak" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaBgKeuzevaktaak</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaBgKeuzevaktaak">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaBgDeeltaak" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaBgDeeltaak</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaBgDeeltaak">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaBgModuletaak" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaBgModuletaak</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaBgModuletaak">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ExamenprogrammaBgGlobaleEindterm" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>ExamenprogrammaBgGlobaleEindterm</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ExamenprogrammaBgGlobaleEindterm">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.Syllabus" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Syllabus</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.Syllabus">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.SyllabusVakleergebied" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>SyllabusVakleergebied</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.SyllabusVakleergebied">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.SyllabusSpecifiekeEindterm" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>SyllabusSpecifiekeEindterm</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.SyllabusSpecifiekeEindterm">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.SyllabusVakbegrip" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>SyllabusVakbegrip</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.SyllabusVakbegrip">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.SyllabusToelichting" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>SyllabusToelichting</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.SyllabusToelichting">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>

                            <div data-simply-field="item.InhVakleergebied" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>InhVakleergebied</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.InhVakleergebied">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.InhInhoudslijn" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>InhInhoudslijn</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.InhInhoudslijn">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.InhCluster" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>InhCluster</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.InhCluster">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.RefVakleergebied" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>RefVakleergebied</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.RefVakleergebied">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.RefDomein" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>RefDomein</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.RefDomein">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.RefSubdomein" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>RefSubdomein</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.RefSubdomein">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.RefOnderwerp" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>RefOnderwerp</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.RefOnderwerp">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.RefDeelonderwerp" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>RefDeelonderwerp</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.RefDeelonderwerp">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.RefTekstkenmerk" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>RefTekstkenmerk</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.RefTekstkenmerk">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ErkGebied" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Gebied</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ErkGebied">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ErkCategorie" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Categorie</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ErkCategorie">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ErkTaalactiviteit" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Taalactiviteit</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ErkTaalactiviteit">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ErkSchaal" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Schaal</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ErkSchaal">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ErkCandobeschrijving" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Cando-beschrijving</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ErkCandobeschrijving">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ErkVoorbeeld" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Voorbeeld</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ErkVoorbeeld">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.ErkLesidee" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Lesidee</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.ErkLesidee">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.FoDomein" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Domein</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.FoDomein">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.FoSubdomein" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Subdomein</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.FoSubdomein">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.FoDoelzin" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Doelzin</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.FoDoelzin">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.FoToelichting" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Toelichting</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.FoToelichting">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.FoUitwerking" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Uitwerking</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.FoUitwerking">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.Tag" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Tag</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.Tag">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.Relatie" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Relatie</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.Relatie">
                                        <template rel="links"></template>
                                    </ul>
                                </template>
                            </div>
                            <div data-simply-field="item.Doelniveau" data-simply-content="template" data-simply-transformer="truthy">
                                <template data-simply-template="true">
                                    <h3>Doelniveau</h3>
                                    <ul data-simply-activate="slip" data-simply-list="item.Doelniveau">
                                        <template rel="doelniveau"></template>
                                    </ul>
                                </template>
                            </div>
                        </template>
                    </div>
                </article>
            </template>
