<script src="//cdn.simplyedit.io/1/simply-edit.js"
    data-api-key="flashy-leather-7944"
    data-simply-images="/img/"
    data-simply-files="/files/"
    data-simply-settings="seSettings"
    data-storage-get-post-only
></script>
<script>

    (function() {
        var goto = simply.route.goto;
        simply.route.goto = function(path) {
            let uuidPath = '/curriculum/uuid/';
            if (path.substr(0, uuidPath.length)===uuidPath) {
                history.pushState({}, '', path);
                return simply.route.match(path);
            }
            return goto(path);
        };
    })();

</script>
<script src="/assets/js/api.js"></script>
<script src="https://unpkg.com/@muze-nl/jsontag@0.9.2/dist/browser.js"></script>
<script src="/assets/js/changes.js"></script>
<script src="/assets/js/spreadsheet.js"></script>
<script src="/assets/js/sloDocument.js"></script>
<script src="/assets/js/transformers.js"></script>
<script src="https://unpkg.com/curriculum-js@0.4.1/dist/browser.js"></script>
<script src="https://cdn.jsdelivr.net/npm/diff"></script>
<script src="/assets/js/databrowser.js"></script>
<script src="/assets/js/datasources.js"></script>
<script src="/assets/js/vanillaSelectBox.js"></script>
<script>
    
    document.addEventListener('simply-content-loaded', function(evt) {
        var menu = editor.currentData['/'].menu;
        if (menu && menu[1]) {
            var api = menu[1].submenu[0]['data-simply-template'] = 'api';
        }
    });
    
    var parseQueryString = function( queryString ) {
        var params = {}, queries, temp, i, l;
        if (queryString) {
            // Split into key/value pairs
            queries = queryString.split("&");
            // Convert the array of strings into an object
            for ( i = 0, l = queries.length; i < l; i++ ) {
                temp = queries[i].split('=');
                params[temp[0]] = temp[1];
            }
        }
        return params;
    };
    
    var args = parseQueryString(window.location.search.substring(1, window.location.search.length));
    if (!args.page) {
        args.page = 0;
    }
    browser.view.page = parseInt(args.page)+1;
    browser.view.params = args;

    var treeviewNiveaus, treeviewSchemas;
    simply.activate.addListener('niveaus-select', function() {
        treeviewNiveaus = new vanillaSelectBox('.slo-niveaus-select', {'placeHolder': 'Selecteer niveaus'});
    });
    simply.activate.addListener('contexts-select', function() {
        if (browser.view.contexts) {
            Array.from(this.options).forEach(option => {
                if (browser.view.contexts.includes(option.value)) {
                    option.setAttribute('selected','selected');
                }
            })
        }
        treeviewSchemas = new vanillaSelectBox('.slo-contexts-select', {'placeHolder':'Selecteer contexten'});
    });

    simply.collect.addListener('niveaus-contexts', function(elements) {
        browser.view.niveaus = Array.from(elements['niveaus'].options).filter(o => o.selected).map(o => o.value)
        browser.view.contexts = Array.from(elements['contexts'].options).filter(o => o.selected).map(o => o.value)
        if (browser.view.view=='spreadsheet') {
            browser.actions.switchView('spreadsheet')
        }
        else if (browser.view.view=='document') {
            browser.actions.switchView('document')
        }
    })

    document.body.addEventListener('click', (e) => {
        let cell = e.target.closest('.slo-cell')
        if (cell) {
            let td = cell.closest('td')
            let tr = cell.closest('tr')
            let index = tr.querySelector('.slo-index')
            if (index) {
                let row = parseInt(index.innerText.trim())
                let columns = tr.querySelectorAll('td')
                let column = Array.from(columns).findIndex(c => c===td)
                browser.actions.focusCell(row-1, column)
            }
        }
    })
</script>