<template data-simply-template="spreadsheet">
    <div class="slo-spreadsheet">
        <div class="slo-form-inline slo-context-filter">
            <select class="slo-roots-select" data-simply-field="roots-selectie"
            data-simply-list="roots" data-simply-data="roots" data-simply-entry="title" 
            data-simply-activate="roots-select" data-simply-command="selectRoot">
                <template>
                    <option data-simply-field="title"></option>
                </template>
            </select>
            <select class="slo-niveaus-select" multiple data-simply-field="niveau-selectie"
            data-simply-list="niveaus" data-simply-data="niveaus" data-simply-entry="title" 
            data-simply-activate="niveaus-select" data-simply-element="niveaus" data-simply-command="selectNiveaus">
                <template>
                    <option data-simply-field="title"></option>
                </template>
            </select>
            <select class="slo-contexts-select" multiple data-simply-field="context-selectie"
            data-simply-list="contexts" data-simply-data="contexts-select" data-simply-entry="context" 
            data-simply-activate="contexts-select" data-simply-element="contexts" data-simply-command="selectContexts">
                <template>
                    <option data-simply-field="context"></option>
                </template>
            </select>
            <button class="ds-button ds-icon-button ds-button-naked" data-simply-command="toggleFullscreen" data-simply-state="close">
                <svg class="ds-button-state ds-icon ds-icon-feather" data-simply-state="close">
                    <use xlink:href="/assets/icons/feather-sprite.svg#minimize-2"></use>
                </svg>
                <svg class="ds-button-state ds-icon ds-icon-feather" data-simply-state="open">
                    <use xlink:href="/assets/icons/feather-sprite.svg#maximize-2">
                </use></svg>
            </button>
        </div>
        <nav class="ds-crumbs">
            <ul class="ds-crumbs-list">
                <li>API</li>
                <li><a href="/">2023</a></li>
                <li><a href="" data-simply-field="contextLink"></a></li>
            </ul>
        </nav>
        <div class="ds-scrollbox" id="slo-spreadsheet" style="overflow-anchor: none;">
        </div>
        <dialog class="slo-type-selector ds-dialog">
            <header class="ds-dialog-header">
                <button data-simply-command="closeDialog" class="ds-button ds-button-naked ds-button-close">
                    <svg class="ds-icon ds-icon-feather">
                        <use xlink:href="/assets/icons/feather-sprite.svg#x">
                    </use></svg>
                </button>
                <div class="ds-space">
                    <h2>Voeg relatie toe</h2>
                </div>
            </header>
            <div class="ds-dialog-content ds-margin-up">
                <div class="ds-space">
                    <label class="slo-type" data-simply-command="addSibling">Erna: <span data-simply-field="siblingType"></span></label>
                    <label>Erin: selecteer type:</label>
                    <div class="ds-space-horizontal" data-simply-list="availableTypes">
                        <template>
                            <label class="slo-type">
                                <input data-simply-command="addChild"
                                    name="type" type="radio"
                                   data-simply-field="type" 
                                   data-simply-content="attributes" 
                                   data-simply-attributes="value">
                                <span data-simply-field="name"></span>
                            </label>
                        </template>
                    </div>
                </div>
            </form>
        </dialog>
    </div>
</template>