    a.slo-highlight-box {
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.slo-highlight-box:hover {
        background-color: var(--ds-grey-dark);
    }
    :root .contexts {
        --ds-grid-min-colwidth: 15rem;
    }
    ul.slo-navbar {
        display: flex;
        overflow: auto;
        margin-top: calc(-1 * var(--ds-spacing));
    }
    ul.slo-navbar-small {
        display: flex;
        overflow: auto;
    }
    ul.slo-navbar-inline {
        margin: 0;
        display: inline-flex;
    }
    ul.slo-navbar li,
    ul.slo-navbar-small li {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
    .slo-text-content > article > :first-child {
        margin-top: 0;
    }
    .slo-tree-table .closed [data-simply-field="indent"]::before {
        content: "\25B8";
    }
    .slo-tree-table.sorted [data-simply-field="indent"] {
        display: none;
    }
    label.slo-column-name {
        display: inline;
    }
    .slo-tree-table .ds-datatable-sorted-ascending a[data-simply-command="sortTree"][data-simply-value="ascending"] {
        color: var(--ds-white);
        background: var(--ds-primary);
    }
    .slo-tree-table .ds-datatable-sorted-descending a[data-simply-command="sortTree"][data-simply-value="descending"] {
        color: var(--ds-white);
        background: var(--ds-primary);
    }
    .slo-spreadsheet .ds-scrollbox {
        --ds-scrollbox-height: calc(100vh - 280px);
        min-height: 400px;
    }
    .vsb-menu {
        left: auto !important;
    }
    .slo-contexts-select ~ .vsb-main .vsb-menu {
        right: 0 !important;
    }
    .slo-spreadsheet tr.focus td {
        background-color: var(--ds-grey-10);
    }
    .slo-spreadsheet tr.focus td.focus {
        background-color: var(--ds-grey-30);
        position: relative;
    }

    .slo-username span {
        line-height: var(--ds-button-line-height);
        padding: 0 1em;
    }
    .slo-editmode .slo-index {
        margin-left: 1em;
    }
    .slo-delete, .slo-add {
        visibility: hidden;
        cursor: pointer;
    }
    .slo-editmode tr.focus .slo-delete,
    .slo-editmode tr:hover .slo-delete,
    .slo-editmode tr.focus .slo-add,
    .slo-editmode tr:hover .slo-add {
        visibility: visible;
        top: 0;
    }
    .slo-textarea {
        position: absolute;
        top: 0;
        background-color: white;
        z-index: 100;
        border: 2px solid red;
    }
    .slo-spreadsheet .ds-dropdown-nav {
        min-width: var(--ds-dropdown-width);
        width: auto;
    }
    .slo-cell-selector {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        outline: 2px solid blue;
        z-index: 100;
        background-color: white;
        font-weight: normal;
        line-height: var(--ds-line-height);
        padding: 0 1px;
        overflow: visible;
        height: auto;
        display: none;
    }
    .slo-content-panel {
        margin-bottom: 0;
    }
    .slo-rownumber {
        width: 4em;
    }
    .ds-flex-right,
    .ds-button-bar .ds-flex-right {
        margin-left: auto;
    }
    .slo-cell-selector {
        padding: 0.1em;
    }
    .slo-cell-selector > *:first-child {
        margin-top: 0;
    }
    .slo-cell-selector > *:last-child {
        margin-bottom: 0;
    }
    .slo-cell-selector > * {
        margin-left: 0;
        margin-right: 0;
    }
    .ds-button.ds-button-bar-right {
        margin-left: auto;
    }
    .slo-undo-history,
    .slo-undo-history li {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
    .slo-undo-history a {
        text-decoration: none;
    }
    .slo-changes-property {
        display: block;
    }
    .slo-changes-timestamp {
        font-size: small;
        color: var(--ds-grey-60);
    }
    .slo-changes-size {
        line-height: var(--ds-button-line-height);
        margin: 0 0.5em;
    }
    .slo-indent:not(.slo-has-children)::before {
        content: "";
    }
    .focus .slo-add,
    .focus .slo-delete,
    tr:hover .slo-add,
    tr:hover .slo-delete {
        visibility: visible;
        top: 0;
    }
    .slo-type-selector {
        position: absolute;
        width: fit-content;
        margin: 0;
    }

    .slo-document .ds-crumbs {
        line-height: 2.5em
    }
    .slo-document .slo-context-filter {
        float: right;
        justify-content: end;
    }
    .slo-document .slo-context-filter .ds-button {
        margin-right: 0;
    }
    .slo-document .slo-content-panel {
        margin-left: 0;
        width: auto;
    }
 
    .slo-document .focus {
        outline: 1px solid blue;
    }

    /* forked from ds-badge: needed a font with relative size */
    .slo-document .ds-badge.niveau {
        font-size: 0.8rem;
    }
 

.loading-overlay {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
body:not(.loading) .loading-overlay {
    display: none;
}

/* loading animation from loading.io/css/ */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #666;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #666 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
tr.deleted {
    text-decoration: line-through;
    color: red;
}
tr.inserted {
    text-decoration: underline;
    color: green;
}
tr.changed {
    color: blue;
}
.slo-type-selector .slo-type {
    cursor: pointer;
}
.slo-type-selector .slo-type:hover {
    background-color: var(--ds-grey-20);
}
.slo-type-selector .ds-button-close {
    right: 0;
}
dialog.preview-changes,
dialog.commit-changes {
    height: 75vh;
}
.slo-hidden {
    display: none;
}
.slo-form-header {
    position: absolute;
    width: calc(100% + 4px);
    margin-top: -2em;
    height: 2em;
    padding: 0;
    background: #EEE;
    border: 2px solid blue;
    left: -2px;
    border-bottom: none;
}
.slo-form-header .ds-form-group {
    margin: 0;
    width: calc(100% - 2em);
}
.slo-form-header label {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.slo-form-header .ds-button-close {
    height: 2em;
    line-height: 2em;
    min-height: unset;
    right: 0;
}
.slo-form-header .ds-button-close .ds-icon {
    height: 1em;
}
label.changes-diff ins {
    background-color: #eaf2c2;
}
label.changes-diff del {
    background-color: #fadad7;
}
label.changes-diff ul {
    margin-top: 0;
}
label.changes-diff {
    padding-left: 2em;
}
.slo-mark-inserted {
    background-color: #eaf2c2;
    text-decoration: underline;
}
.slo-mark-deleted {
    background-color: #fadad7;
    text-decoration: line-through;
}
.slo-mark-changed {
    background-color: #EEE;
}
.slo-header .ds-button-bar {
    position: static;
}
.slo-buttonbars {
    width: 75%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-end;
}
.ds-paging .ds-paging-info {
    line-height: var(--ds-button-line-height);
}
body.ds-paging .slo-header .ds-paging {
    display: flex;
}
.slo-header .ds-paging {
    display: none;
}
.ds-button-close {
    right: 0;
}
.ds-alert:empty {
    display: none;
}
.ds-hidden {
    display: none;
}