    a.slo-highlight-box {
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.slo-highlight-box:hover {
        background-color: var(--ds-grey-dark);
    }
    :root .contexts {
        --ds-grid-min-colwidth: 15rem;
    }
    ul.slo-navbar {
        display: flex;
        overflow: auto;
        margin-top: calc(-1 * var(--ds-spacing));
    }
    ul.slo-navbar-small {
        display: flex;
        overflow: auto;
    }
    ul.slo-navbar-inline {
        margin: 0;
        display: inline-flex;
    }
    ul.slo-navbar li,
    ul.slo-navbar-small li {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
    .slo-text-content > article > :first-child {
        margin-top: 0;
    }
    .slo-tree-table .closed [data-simply-field="indent"]::before {
        content: "\25B8";
    }
    .slo-tree-table.sorted [data-simply-field="indent"] {
        display: none;
    }
    label.slo-column-name {
        display: inline;
    }
    .slo-tree-table .ds-datatable-sorted-ascending a[data-simply-command="sortTree"][data-simply-value="ascending"] {
        color: var(--ds-white);
        background: var(--ds-primary);
    }
    .slo-tree-table .ds-datatable-sorted-descending a[data-simply-command="sortTree"][data-simply-value="descending"] {
        color: var(--ds-white);
        background: var(--ds-primary);
    }
    .slo-spreadsheet .ds-scrollbox {
        --ds-scrollbox-height: calc(100vh - 340px);
        min-height: 400px;
    }
    .vsb-menu {
        left: auto !important;
    }
    .slo-contexts-select ~ .vsb-main .vsb-menu {
        right: 0 !important;
    }
    .slo-spreadsheet tr.focus td {
        background-color: var(--ds-grey-10);
    }
    .slo-spreadsheet tr.focus td.focus {
        background-color: var(--ds-grey-30);
        position: relative;
        white-space: break-spaces;
        overflow: visible;
    }

    .slo-spreadsheet .slo-cell {
        padding: 0 0.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .slo-spreadsheet tr.focus td.focus .slo-cell {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background-color: var(--ds-grey-30);
        border: 2px solid var(--ds-primary);
        z-index: 100;
        white-space: break-spaces;
        overflow: visible;
    }